modules = ["nodejs-20", "web", "php-8.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Production Server"
author = 48059444
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn start"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WhatsApp Bot Server"

[[workflows.workflow]]
name = "WhatsApp Bot Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42059
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["yarn", "start"]
build = ["yarn", "build"]
